
<div class="cards-owner">
<% @trees.each do |tree|%>
<h2><%= tree.name %></h2>
<h3><%= tree.species %></h3>
<p><%= tree.description %></p>
<h3><%= tree.address %></h3>
<h3><%= tree.size %></h3>
<h3><%= tree.weight %></h3>
<h3><%= tree.price %></h3>

<% end %>
</div>



<div class="container-owner">
  <div class="button">
    <%= link_to 'Create a tree' %>
  </div>

  <div class="button">
    Your status
  </div>

  <div class="links">
    See your rentals
  </div>
</div>
