<div class="form-box">
  <div class="tree-form">
    <h2 class="title_text">Add your tree infos</h2>
      <%= simple_form_for @tree do |f| %>
        <%= f.input :name %>
        <%= f.input :species %>
        <%= f.input :description, as: :text %>
        <%= f.input :address %>
        <%= f.input :size %>
        <%= f.input :weight %>
        <%= f.input :price %>
        <%= f.input :photo %>

        <%= f.submit "Add", class: "btn-tree-show" %>
      <% end %>
  </div>
</div>
