<div class="container-show-tree">

<div class="tree-img">
  <%= image_tag "arbre.jpg", alt: "alttext", width: "100%" %>
</div>

  <div class="title-show">
    <h1><%=@tree.name%></h1>
  </div>

<!-- <div class="avatars">
  <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
  <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
  <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
  <img class="avatar-square" alt="avatar-square" src="https://kitt.lewagon.com/placeholder/users/krokrob" />
</div> -->

  <div class="tree-details">
    <li><%= @tree.species %></li>
    <li><%= @tree.address %></li>
    <li><%= @tree.size %></li>
    <li><%= @tree.weight %></li>
    <li><%= @tree.description %></li>
    <li><%= @tree.price %></li>
  </div>

  <a class="btn btn-book" href="#">Book Now</a>

  <div class ="link-back">
    <%= link_to "Back", trees_path %>
  </div>
</div>

<!-- <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  </div>

  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div> -->
</div>

