<div class="container-show-tree">

  <div class="tree-img">
    <%= image_tag "arbre2.jpg", alt: "alttext", width: "100%"%>
  </div>

  <div class="show-right-part">
    <%# <div class ="link-back">
      <%= link_to "Back", trees_path %>
    <%# </div> %>
    <div class="title-show">
      <h1><%=@tree.name%></h1>
      <p><%=@tree.species%></p>
    </div>

    <div class="description">
      <div class="title-descr">
        <p><%=@tree.description%></p>
      </div>
    </div>

    <div class="trees-aspects">

      <div class="size-tree">
        <% if @tree.size == 'small'%>
          <i class="fas fa-tree small" style="color:#c99e89;"></i>
          <i class="fas fa-tree medium"></i>
          <i class="fas fa-tree large"></i>
        <% elsif @tree.size == 'medium' %>
          <i class="fas fa-tree small"></i>
          <i class="fas fa-tree medium"style="color:#c99e89;"></i>
          <i class="fas fa-tree large"></i>'
        <% else %>
          <i class="fas fa-tree small"></i>
          <i class="fas fa-tree medium"></i>
          <i class="fas fa-tree large" style="color:#c99e89;"></i>
        <% end %>
      </div>

      <div class="title-w">
        <h2><%=@tree.weight%></h2>
      </div>

      <div class="title-show">
        <h2>$<%=@tree.price%></h2>
      </div>

      <%# <div class= "card-price"> %>
      <%# </div> %>
    </div>

    <div class="card-owner">
      <p><i class="fas fa-user"></i> This tree belongs to <%=@tree.user.first_name%> <%=@tree.user.last_name%></p>
      <p><i class="fas fa-map-marked-alt"></i> <%=@tree.address%></p>
      
    </div>


    <div class="formul">
        <%= simple_form_for [@tree, @rental] do |f| %>
      <div class="container_one">
        <%= f.input :start_on, as: :date %>
        <%= f.input :end_on, as: :date %>
        <%= f.submit "Book Now"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
