<div class="all_container showw">
  <div class="link_tree_show">
  <div class="card_category_show" style="background-image: url('<%= cl_image_path @tree.photo.key %>')"></div>
</div>
  <div class="show-right-part">
    <%# <div class ="link-back">
      <%= link_to "Back", trees_path %>
    <%# </div> %>
    <div class="title-show">
      <h1 class="tree_names"><%=@tree.name%></h1>
      <h3 class="tree_descriptions"><%=@tree.species%></h3>
    </div>

    <div class="description">
      <div class="title-descr">
        <p><%=@tree.description%></p>
      </div>
    </div>

    <div class="trees-aspects">

      <div class="size-tree">
        <% if @tree.size == 'small'%>
          <i class="fas fa-tree small" style="color:#CD4A49;"></i>
          <i class="fas fa-tree medium"></i>
          <i class="fas fa-tree large"></i>
        <% elsif @tree.size == 'medium' %>
          <i class="fas fa-tree small"></i>
          <i class="fas fa-tree medium"style="color:#CD4A49;"></i>
          <i class="fas fa-tree large"></i>
        <% else %>
          <i class="fas fa-tree small"></i>
          <i class="fas fa-tree medium"></i>
          <i class="fas fa-tree large" style="color:#CD4A49;"></i>
        <% end %>
      </div>

      <div class="title-w">
        <h2><%=@tree.weight%></h2>
      </div>

      <div class="title-show">
        <h2>$<%=@tree.price%></h2>
      </div>

      <%# <div class= "card-price"> %>
      <%# </div> %>
    </div>

    <div class="card-owner">
      <p><i class="fas fa-user"></i> This tree belongs to <%=@tree.user.first_name%> <%=@tree.user.last_name%></p>
      <p><i class="fas fa-map-marked-alt"></i> <%=@tree.address%></p>

    </div>


    <div class="formul">
        <%= simple_form_for [@tree, @rental] do |f| %>
      <div class="container_one">
        <%= f.input :start_on, as: :date %>
        <%= f.input :end_on, as: :date %>
        <%= f.submit "Book Now", class: "btn-tree-show"%>
        <%#= link_to "See our trees", trees_path, class: "btn btn-to-index" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
