<div class="title_text">
  <p>Your reservations</p>
</div>

<div class="all_container center">
  <div class="cards rent">
    <% @rentals.each do |rental| %>
        <div class="tree_name d-flex">
          <h1 class=" card_category_show rent"> <%= rental.tree.name %></h1>
        </div>
      <div class="cards card card_index">
          <div class="rent">
            <h4><%= rental.start_on.strftime("%d %m %Y") %></h4>
            <h4><i class="fas fa-angle-double-down"></i></h4>
            <h4><%= rental.end_on.strftime("%d %m %Y") %></h4>
            <br>
            <h4><i class="fas fa-user"></i> <%= rental.user.first_name %> <%= rental.user.last_name %></h4>
            <h4><i class="fas fa-hand-holding-usd"></i> <%= rental.total_price %>$</h4>
            <br>
            <div>
              <% if rental.status == "accepted" %>
                <h2 style="background-color: green opacity:0.9"> <%= rental.status %></h2>
              <% elsif rental.status == "refused" %>
                <h2 style="background-color: #CD4A49 opacity:0.9"> <%= rental.status %></h2>
              <% else %>
                <h2><%= rental.status %></h2>
              <% end %>
            </div>
          </div>
        <div class="card-category" style="background-image: url('<%= cl_image_path rental.tree.photo.key %>')"></div>
            <%#= link_to tree.name, tree_path(tree), class: "link_tree" %>
      </div>
    <% end %>
  </div>
</div>
